@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    background-image: url('assets/img/VirusBackground.jpg');
    background-size: cover;
    /* background-color: lightblue; */
}
  
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}
  
p {
    font-size: 16px;
}

small {
    font-size: 0.75em;
    padding: none;
}


a {
    text-decoration: none;
    color: rgb(64, 123, 232);
}

.intro {
    margin: auto;
    text-align: center;
    padding-top: 5em;
    line-height: 2em;

    background-color: white;
    }
.intro h2 {
    font-size: 2rem;
    padding-bottom: .5em;
}


/* Header Styling */
header .navigationstyle {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;

    height: 5em;
    padding: 2em;

    background-color: white;
}
header nav ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;

}

/* Navigation Styling */
.navhighlight {
    border-bottom: none;
}
.navhighlight:hover{
    border-bottom: 2.5px solid coral;

    font-weight: bold;

}

/**/

/* Footer Styling */
footer {
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
    text-align: center;
    height: 4em;
    width: 100%;
    padding-top: 2.5em;
}

footer p {
    color: white;
    font-size: .75em;
    font-weight: lighter;
    line-height: 0.5em;
    margin-bottom: 1em;
    padding: 0em 2em;
    text-align: center;
}

button {
    font-weight: bold;
}

 
.emphasis {
    padding: 15px 32px;
    color: black;
    
    text-align: center;
    text-decoration:none;
    color: black;
    display: inline-block;

}

.emphasis p {

    font-weight: bold;
    padding: 1em;
}



/* Header */
.headercontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding:3em;

    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%); 
}
.headercontainer h1 {
    font-size: 48px;
    color: white;
}
.headercontainer h2 {
    font-size: 20px;
    color:white;
    padding: 2em;
}

.govlogo {
    display: block;
    object-fit: contain;
    margin: auto;
    width: 400px;
    height: 200px;
}

   

/* Information Flexbox */
.infocontainer {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    text-align: center;

    margin: 5em;

}
/**/


/* Collapsible Boxes */
.collapsing {
    /* sets background and text colours*/
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
    color: white;

    /* positions the text, ensures there are no borders or outlines styled to create a solid block, and gives it a flexable width */
    padding: 1em;
    width: 75%;

    border: none;
    outline: none;
    text-align: center;

    /* sets font size in relation to body default, changes cursor when mouser is over the button */
    font-size: 1rem;
    cursor: pointer;
}
.open , .collapsing:hover {
    /* changes the colour when mouse is hovering over the button and when its been clicked */
    background: none;
    background-color: coral;
}


.infocontainer-Content {
    /* content div styling and transition, overflow: hidden hides text that is too big for the content area*/
    margin: auto;
    text-align: center;
    max-height: 0;
    width: 75%;


    overflow: hidden;
    transition: 0.3s ease;
    
    background-color: #8ecae6;
    color: #3A3B3C;
}
.infocontainer-Content h1 {
    padding: 1em 2em;
    color: white;    
}
.infocontainer-Content h2 {
    font-size: 25px;
    padding: 0.5em;
    font-weight: bold;
}
.infocontainer-Content p {
    font-size: 15px;
    line-height: 1.5em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}
/**/
